:host {
    background-color: white!important;
    display: block;
}

.header-container{
    display: flex;
    height: 100vh;
    color:black;
    font-family:cursive;
    background-image: url(https://st2.cannypic.com/thumbs/40/406271_632_canny_pic.jpg);
}

.trivia-container{

   margin-top: 4em;
   
}
    

img{
    width: 100px;
    height: 100px;
}

.imgQuestion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.option-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.button-next{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:1em;
}
.hola{
    display: flex;
    justify-content: center;
    margin-top: 2em;

}
.holas{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}