:host {
    background-color:white!important;
    display: block;
}

.header-container{
    height: 100vh;
    color: white;
    font-family:cursive;
    background-image: url(https://st2.cannypic.com/thumbs/40/406271_632_canny_pic.jpg);
}

.trivia-container{
    display: flex;
    color:rgb(3, 3, 3);
    flex-direction: column;
    margin-top: 13em;

    
}

img{
    width: 100px;
    height: 100px;
}

.imgQuestion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.option-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.button-next{
    display: flex;
    align-items: center;
    justify-content: center;
}
.uno{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.tres{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.hola{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text-center{
    background-color: rgb(59, 118, 245,0.7);
    color: white;
    border-radius: 1em;
}